.carousel-caption{
    padding-bottom: 100px;
}

.carousel-caption h2{
    font-size: 60px;
}

.carousel-caption h3{
    font-size: 40px;
}


/* index - pagina inicial */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta{
    width: 350px;
    height: 300px;
    background: #f29720;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante{
    width: 100%;
    
    padding: 25px;
    
    text-align: center;
    color: #fff;
}

.atras{
    transform: rotateY(180deg);
    
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: #fff;
}

.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}

.card1{
    background-image: url("../img/accion_quienes_somos.jpg");
    background-size: cover;
}

.card2{
    background-image: url("../img/accion_servicios.jpg");
    background-size: cover;
}

.card3{
    background-image: url("../img/accion_contactanos.jpg");
    background-size: cover;
}
